/* General Styling */
body {
	font-family: "Helvetica", sans-serif;
	color: rgba(250, 107, 184, 255);
	background-color: #fff;
	padding: 20px;
	width: 70%;
	margin: auto;
}

h2 {
	color: rgba(250, 107, 184, 255);
	font-weight: bold;
	margin-bottom: 20px;
	padding: 12px;
	text-align: left;
	width: 7%;
	border: rgba(250, 107, 184, 255) 5px dashed;
}

.info-details {
	display: flex;
	gap: 5px;
	margin-bottom: 20px;
}
.first-table {
	width: 70%;
	border-collapse: collapse;
}

.second-table {
	width: 30%;
	height: 30%;
	border-collapse: collapse;
}
th {
	background-color: rgba(254, 214, 238, 255);
	color: rgba(250, 107, 184, 255);
}
th,
td {
	padding: 8px;
	text-align: left;
}
section table th,
section table td {
	padding: 8px;
	width: 50%;
	border: 1px solid hotpink;
	text-align: left;
	font-weight: bold;
}

/* Order Table Styling */
.order-table {
	width: 100%;
	border-collapse: collapse;
}

.order-table tr {
	border: 1px solid hotpink;
	height: 40px;
}

.order-table th {
	background-color: rgba(254, 214, 238, 255);
	color: rgba(250, 107, 184, 255);
}
.order-table th,
.order-table td {
	text-align: center;
	border: 1px solid hotpink;
	padding: 10px;
}

.order-table th.item {
	width: 15%;
}

.order-table th.description {
	width: 50%;
}

.order-table th.qty {
	width: 5%;
}

.order-table th.unit-price {
	width: 15%;
}

.order-table th.total {
	width: 15%;
}

/* Comment */
.comments {
	width: 100%;
	border-spacing: 0;
}

.comments th {
	background-color: rgba(254, 214, 238, 255);
	color: rgba(250, 107, 184, 255);
	text-align: center;
	border: 1px solid hotpink;
}

.comments td {
	text-align: center;
	padding-top: 50px;
	vertical-align: top;
	height: 150px;
	color: rgba(250, 107, 184, 255);
	border: 1px solid hotpink;
}
